# this is a sample of the file required by this script 
# copy this file to ~/etc
# udpate parameters base on your configuration 

export SMTP_USER=YOUR_SMTP_USER_ID
export SMTP_API_KEY=YOUR_SMTP_KEY
# END for n8n