# this is a sample of the file required by this script 
# copy this file to ~/etc
# udpate parameters base on your configuration 

export SMTP_USER=YOUR_SMTP_USER_ID
export SMTP_API_KEY=YOUR_SMTP_KEY
export SMTP_HOST=YOUR_SMTP_HOST
export SMTP_PORT=YOUR_SMTP_SERVER_PORT like 587
export SMTP_SENDER=YOUR_SEND_EMAIL_ADDRESS
# END for n8n